<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.martinwalls.nea"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        >

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".ui.stock.StockDetailActivity"
            android:parentActivityName=".ui.MainActivity" />


        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.FadeTransition"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martinwalls.nea.ui.MainActivity"
                />
        </activity>

        <activity android:name=".ui.contracts.ContractDetailActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity android:name=".ui.contracts.EditContractActivity" />

        <activity android:name=".ui.orders.OrderDetailActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity android:name=".ui.locations.NewLocationActivity" />

        <activity android:name=".ui.locations.EditLocationActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity android:name=".ui.products.EditProductsActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity android:name=".ui.meat_types.EditMeatTypesActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity android:name=".ui.locations.LocationsActivity"
            android:parentActivityName=".ui.MainActivity" />

        <activity android:name=".ui.locations.LocationDetailActivity"
            android:parentActivityName=".ui.locations.LocationsActivity" />

        <activity android:name=".ui.exchange.ChooseCurrenciesActivity"
            android:parentActivityName=".ui.MainActivity" >
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable"
                />
        </activity>

        <activity android:name=".ui.stock.EditStockActivity" />

        <activity android:name=".ui.orders.EditOrderActivity" />

        <receiver
            android:name=".util.ReminderReceiver"
            android:enabled="true"
            android:exported="false"
            />

        <receiver
            android:name=".util.BootReceiver"
            android:enabled="false"
            android:exported="false"
            >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".data.api.ApiIntentService"
            android:exported="false"
            />
    </application>

</manifest>