<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.martinwalls.nea"
    >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity
            android:name=".SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".MainActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martinwalls.nea.MainActivity"
                />
        </activity>
        <activity android:name=".contracts.ContractDetailActivity" />
        <activity android:name=".contracts.NewContractActivity" />
        <activity android:name=".orders.OrderDetailActivity" />
        <activity android:name=".orders.NewOrderActivity" />
        <activity android:name=".stock.EditLocationsActivity" />
        <activity android:name=".stock.EditProductsActivity" />
        <activity android:name=".stock.EditMeatTypesActivity" />
        <activity android:name=".stock.LocationsActivity" />
        <activity android:name=".exchange.ChooseCurrenciesActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".stock.NewStockActivity" />

        <service
            android:name=".exchange.ApiIntentService"
            android:exported="false"
            />
    </application>

</manifest>