<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.martinwalls.nea"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        >
        <activity android:name=".ui.stock.StockDetailActivity" />
        <activity android:name=".ui.locations.EditLocationActivity" />
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings_title"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.FadeTransition"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.martinwalls.nea.ui.MainActivity"
                />
        </activity>
        <activity android:name=".ui.contracts.ContractDetailActivity" />
        <activity android:name=".ui.contracts.NewContractActivity" />
        <activity android:name=".ui.orders.OrderDetailActivity" />
        <activity android:name=".ui.locations.NewLocationActivity" />
        <activity android:name=".ui.products.EditProductsActivity" />
        <activity android:name=".ui.meat_types.EditMeatTypesActivity" />
        <activity android:name=".ui.locations.LocationsActivity" />
        <activity android:name=".ui.locations.LocationDetailActivity" />
        <activity android:name=".ui.exchange.ChooseCurrenciesActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.stock.EditStockActivity" />
        <activity android:name=".ui.orders.EditOrderActivity" />

        <service
            android:name=".data.api.ApiIntentService"
            android:exported="false"
            />
    </application>

</manifest>